{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" /> -->

    <!-- Title -->
    <title>Converter</title>

</head>

<body>

    <!-- Header -->
    <header>

        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container my-4">

                <!-- Title -->
                <a class="navbar-brand mx-auto" href="{% url 'home' %}">Converter</a>

            </div>
        </nav>
    </header>


    <!-- Main Body -->
    <div class="container my-5">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">

                <!-- Upload Menu -->
                <div id="upload" class="card col-10 col-lg-3 col-md-5 mx-auto my-3">
                    <div class="card-body text-center p-4">
                        <h4 class="card-title my-3">Select a file</h2>
                            <div class="card-text btn-wrapper btn btn-primary px-4 my-3">
                                <i class="fa fa-upload" aria-hidden="true"></i>
                                Upload
                                <input id="uploadButton" type="file" name="{{ form.uploadFile.name }}">
                            </div>
                            
                    </div>
                </div>


                <div id="upload" class="card col-10 col-lg-3 col-md-5 mx-auto my-3">
                    <div class="card-body text-center p-4">
                        <h4 class="card-title my-3">Format</h2>
                            <select class="custom-select dark my-3" id="fileType" name="{{ form.convertFormat.name }}">
                                <option selected value=".docx">Word</option>
                                <option value=".pptx">PowerPoint</option>
                                <option value=".xlsx">Excel</option>
                            </select>
                            <button type="submit" class="btn btn-success my-3">Convert</button>
                    </div>
                </div>


                <div id="upload" class="card col-10 col-lg-3 col-md-5 mx-auto my-3">
                    <div class="card-body text-center p-4">
                        <h4 class="card-title my-3">Download</h2>
                            <button class="btn btn-danger">
                                <a id="downloadButton" href="/">Download</a>
                            </button>
                    </div>
                </div>


            </div>
        </form>

    </div>

    <!-- Footer -->
    <footer>
    </footer>

    <!-- JavaScript -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/popper.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/script.js' %}" charset="utf-8"></script>
</body>

</html>